body {
  color: #fff;
  background-color: #000;
}

.nav-bar-link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.nav-bar-link:hover {
  color: #307af7;
}

.nav-bar {
  background-color: #121212;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  gap: 20px;
}

.nav-bar-logo {
  font-size: 24px;
  background: linear-gradient(#e66465, #9198e5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-right: auto;
}

.hero {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  gap: 5%;
  flex-wrap: wrap;
}

.hero-image {
  height: 300px;
}

.hero-header {
  font-size: 48px;
  font-weight: 800;
}

.hero-text {
  font-size: 18px;
}

.hero-btn {
  font-size: 24px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero-body {
  flex-basis: 0;
  flex-grow: 1;
}
